@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom dropdown currency styles */
.currency-select option {
    color: #000;
    background-color: transparent;
}